<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <title>Otro sobre mi</title>
    <link rel="stylesheet" href="../css/style3.css">
</head>
<body>
    <h1>Sobre mi</h1>
    <p >Mi nombre es Cleribeth Mora, tengo 21 años, soy venezolana viviendo en argentina hace 4 años, estoy cursando algunas materias del 2do año de Odontología. Vi una publicación acerca de la beca para esta carrera y me di cuenta de el gran potencial que tiene y todas las oportunidades que te brinda esta hermosa carrera por lo cual asumí el riesgo de unirme a lo que seguro será una gran revolución.</p>
    <p>Me encanta la buena gastronomía, amo los viajes, estar en familia y compartir con las personas que amo.</p>
<footer>
    <span>Contacto</span>
    <i class="fab fa-instagram" width="24px"></i>
    <i class="fab fa-linkedin" width="24px"></i>
</footer>
</body>
</html>