<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <title>Document</title>
</head>
<body>
    <h1>Curriculum Vitae Cleribeth Mora</h1>
    <ul>
        <h2 class="menuazul">Menú</h2>
        <hr>
        <li><a href="./otrosobremi2.html" class="enlace"> Otro sobre mi</a></li>
    </ul>
    <footer>
        <span>Contacto</span>
        <i class="fab fa-instagram" width="24px"></i>
        <i class="fab fa-linkedin" width="24px"></i>
    </footer>
    
</body>
</html>