h1,h2 {
    color: #005677;
    background-color: #c4c4c4;
    text-transform: uppercase;
} 
h1 {
    text-align: center;
}
img{
    background-position-x: center;
    display: block;
    margin: auto;
}
section {
    background-color:#e5e5e5;
}
body{
    padding: 80px;
}
.sinpunto{
    list-style-type:none;
}
span {
    font-style:italic;
    font-weight: bold;
}
footer {
    background-color: #005677;
    color: white;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

