
header,a.letrasblancas{
    background-color: black;
    color: white;
}

.fondonaranja{
    background-color: #F0A83E;
    height: 50px;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0 200px;
}
.imagendefondo{
    height: 439px;
}
.caja{
    position: relative;
    display: inline-block;
}
.texto1{
    position: absolute;
    top: 200px;
    left: 60%;
    background-color: white;
    height: 40px;
    width: 365px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 35.16px;
}
.texto2{
    position: absolute;
    top: 250px;
    left: 60%;
    height: 40px;
    width: 365px;
    font-size: 25px;
    color:#3C2313;
    text-align: center;
    line-height: 18.75px;
}
.texto3{
    position: absolute;
    top: 300px;
    left: 70%;
    background-color: #F0A83E;
    height: 25px;
    width: 150px;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 18.75px;
}


.patitacolorada{
    color:tomato;
}
section.sectionproductos{
    background-color: #FBFAF6;
}
.precio{
    color:#F0A83E;
}
h3{
    color: #3C2313;
    font-size: 40px;
}
input{
    background-color: #3C2313;
    color:white;
}
.titulonaranja{
    background-color:#F0A83E;
    color:#3C2313 ;
}
.esteblanco{
    background-color: white;
    position:initial;
}
.artmarron{
    background-color: #3C2313;
}
.footerazul{
    background-color: #222222;
    height: 45px;
    color: white;
}
.centrar{
    text-align: center;
    font-size: 25px;
}
