h1,h2 {
    color: #005677;
    background-color: #c4c4c4;
    text-transform: uppercase;
} 
h1 {
    text-align: center;
}
img{
    background-position-x: center;
    display: block;
    margin: auto;
}

section {
    background-color:#e5e5e5;
    background-image: url(https://www.datocms-assets.com/14946/1590690690-front-end.jpg);
    background-repeat:repeat;
    background-size: contain;
}
body{
    font-family:'Benne', serif;
    padding: 80px;
}
.sinpunto{
    list-style-type:none;
}
span {
    font-style:italic;
    font-weight: bold;
}
footer {
    background-color: #005677;
    color: white;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.menu{
    background-color: #c4c4c4;
    height: 30px;
    font-size: 25px;
    line-height: 33px;
    color: #005677;
}
.enlace{
    color: #005677;
    text-decoration: none;
}

